* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

header {
    background-color: #1f232e;
    margin-left: 0px;
    margin-right: 0px;
}

header h1 {
    color:black;
    background-color:rgb(7, 148, 190);
}

.nav a {
    color: rgb(7, 148, 190);
    text-decoration: none;
}

.section-container h2 {
    border-right: 4px solid black;
}

.hero {
    width: 100%;
    min-height: 150px;
    max-height: 150px;
}

.project {
    display: flex;
    min-height: 200px;
    background-image: url('https://images.pexels.com/photos/15889175/pexels-photo-15889175/free-photo-of-mountains-among-white-fluffy-clouds.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-color: none;
    background-size: cover;
 }

.project a {
    text-decoration: none;
    color: rgb(7, 148, 190)
}

.project li {
    background-color: #1f232e;
    text-decoration-color: black;
}

#project-one {
    display: flex;
    min-height: 350px;
    background-image: url('../images/CafeTransmute-SS.png');
    background-repeat: no-repeat;
}

#project-two {
    display: flex;
    min-height: 300px;
    background-image: url('../images/Vacationator_1000.png');
    background-repeat: no-repeat;
}

.project li {
    list-style-type: none;
    border-bottom: 2px solid black;
 }

 .contact-me ul{
    list-style-type: none;
} 